/* -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*::after, *::before {
  content: '';
}

html
{
    background: #f3f3f5;
}

body {
  font-size: 100%;
  font-family: "Open Sans", sans-serif;
  color: #4e5359;
  background-color: #f3f3f5;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
body::after {
  /* overlay layer visible on small devices when the right panel slides in */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(78, 83, 89, 0.8);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
body.cd-overlay::after {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
@media only screen and (min-width: 768px) {
  body::after {
    display: none;
  }
}

a {
  color: #a9c056;
  text-decoration: none;
}

ul
{
    list-style: none;
}
/* -------------------------------- 

Main components 

-------------------------------- */
header {
  position: relative;
  height: 180px;
  line-height: 180px;
  text-align: center;
  background-color: #a9c056;
}
header h1 {
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
  font-size: 1.25rem;
}
@media only screen and (min-width: 1024px) {
  header {
    height: 240px;
    line-height: 240px;
  }
  header h1 {
    font-size: 36px;
    font-size: 2.25rem;
    font-weight: 300;
  }
}

.cd-faq {
  width: 90%;
  max-width: 1024px;
  margin: 2em auto;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}
.cd-faq:after {
  content: "";
  display: table;
  clear: both;
}
@media only screen and (min-width: 768px) {
  .cd-faq {
    position: relative;
    margin: 4em auto;
    box-shadow: none;
  }
}

.cd-faq-categories a {
  position: relative;
  display: block;
  overflow: hidden;
  height: 50px;
  line-height: 50px;
  padding: 0 28px 0 16px;
  background-color: #4e5359;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ffffff;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.cd-faq-categories a::before, .cd-faq-categories a::after {
  /* plus icon on the right */
  position: absolute;
  top: 50%;
  right: 16px;
  display: inline-block;
  height: 1px;
  width: 10px;
  background-color: #7f868e;
}
.cd-faq-categories a::after {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.cd-faq-categories li:last-child a {
  border-bottom: none;
}
@media only screen and (min-width: 768px) {
  .cd-faq-categories {
    width: 20%;
    float: left;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
  }
    .cd-faq-categories-usr{
        float: none;
        margin-bottom: 10px;
    }    
  .cd-faq-categories a {
    font-size: 13px;
    font-size: 0.8125rem;
    font-weight: 600;
    padding-left: 24px;
    padding: 0 24px;
    -webkit-transition: background 0.2s, padding 0.2s;
    -moz-transition: background 0.2s, padding 0.2s;
    transition: background 0.2s, padding 0.2s;
  }
  .cd-faq-categories a::before, .cd-faq-categories a::after {
    display: none;
  }
  .no-touch .cd-faq-categories a:hover {
    background: #555b61;
  }
  .no-js .cd-faq-categories {
    width: 100%;
    margin-bottom: 2em;
  }
}
@media only screen and (min-width: 1024px) {
    
  .cd-faq-categories {
    position: absolute;
    top: 130px;
    left: 0;
    width: 200px;
    z-index: 2;
  }
    .cd-faq-categories-lk
    {
        top: 200px;
    }
    
    .cd-faq-categories-usr {
        top: 0;
    }
  .cd-faq-categories a::before {
    /* decorative rectangle on the left visible for the selected item */
    display: block;
    top: 0;
    right: auto;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: #a9c056;
    opacity: 0;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    transition: opacity 0.2s;
  }
  .cd-faq-categories .selected {
    background: #42464b !important;
  }
  .cd-faq-categories .selected::before {
    opacity: 1;
  }
  .menu.is-fixed {
    /* top and left value assigned in jQuery */
    position: fixed;
    z-index: 3;
      width: 53.5%;
  }
  .no-js .cd-faq-categories {
    position: relative;
  }
}

.cd-faq-items {
  position: fixed;
  height: 100%;
  width: 90%;
  top: 0;
  right: 0;
  background: #ffffff;
  padding: 0 5% 1em;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0) translateX(100%);
  -moz-transform: translateZ(0) translateX(100%);
  -ms-transform: translateZ(0) translateX(100%);
  -o-transform: translateZ(0) translateX(100%);
  transform: translateZ(0) translateX(100%);
  -webkit-transition: -webkit-transform .3s;
  -moz-transition: -moz-transform .3s;
  transition: transform .3s;
}
.cd-faq-items.slide-in {
  -webkit-transform: translateZ(0) translateX(0%);
  -moz-transform: translateZ(0) translateX(0%);
  -ms-transform: translateZ(0) translateX(0%);
  -o-transform: translateZ(0) translateX(0%);
  transform: translateZ(0) translateX(0%);
}
.no-js .cd-faq-items {
  position: static;
  height: auto;
  width: 100%;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
@media only screen and (min-width: 768px) {
  .cd-faq-items {
    position: static;
    height: auto;
    width: 78%;
    float: right;
    overflow: visible;
    -webkit-transform: translateZ(0) translateX(0);
    -moz-transform: translateZ(0) translateX(0);
    -ms-transform: translateZ(0) translateX(0);
    -o-transform: translateZ(0) translateX(0);
    transform: translateZ(0) translateX(0);
    padding: 0;
    background: transparent;
  }
}

.cd-close-panel {
  position: fixed;
  top: 5px;
  right: -100%;
  display: block;
  height: 40px;
  width: 40px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  z-index: 2;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: right 0.4s;
  -moz-transition: right 0.4s;
  transition: right 0.4s;
}
.cd-close-panel::before, .cd-close-panel::after {
  /* close icon in CSS */
  position: absolute;
  top: 16px;
  left: 12px;
  display: inline-block;
  height: 3px;
  width: 18px;
  background: #6c7d8e;
}
.cd-close-panel::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.cd-close-panel::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.cd-close-panel.move-left {
  right: 2%;
}
@media only screen and (min-width: 768px) {
  .cd-close-panel {
    display: none;
  }
}

.cd-faq-group {
  /* hide group not selected */
    display: none;
    list-style: none;
}
.cd-faq-group.selected {
  display: block;
}
.cd-faq-group .cd-faq-title {
  background: transparent;
  box-shadow: none;
  margin: 1em 0;
}
.no-touch .cd-faq-group .cd-faq-title:hover {
  box-shadow: none;
}
.cd-faq-group .cd-faq-title h2 {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  color: #bbbbc7;
}
.no-js .cd-faq-group {
  display: block;
}
@media only screen and (min-width: 768px) {
  .cd-faq-group {
    /* all groups visible */
    display: block;
  }
  .cd-faq-group > li {
    background: #ffffff;
    margin-bottom: 6px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
    -webkit-transition: box-shadow 0.2s;
    -moz-transition: box-shadow 0.2s;
    transition: box-shadow 0.2s;
  }
  .no-touch .cd-faq-group > li:hover {
    box-shadow: 0 1px 10px rgba(108, 125, 142, 0.3);
  }
  .cd-faq-group .cd-faq-title {
    margin: 2em 0 1em;
  }
  .cd-faq-group:first-child .cd-faq-title {
    margin-top: 0;
  }
}

.cd-faq-trigger {
  position: relative;
  display: block;
  margin: 1.6em 0 .4em;
  line-height: 1.2;
}

.cd-faq-trigger:hover, 
.cd-faq-trigger:focus, 
.cd-faq-trigger:active
{
    text-decoration: none;
    color: #a9c056;
}

@media only screen and (min-width: 768px) {
  .cd-faq-trigger {
    font-size: 24px;
    font-weight: 300;
    margin: 0;
    padding: 24px 72px 24px 24px;
  }
  .cd-faq-trigger::before, .cd-faq-trigger::after {
    /* arrow icon on the right */
    position: absolute;
    right: 24px;
    top: 50%;
    height: 2px;
    width: 13px;
    background: #cfdca0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
  }
  .cd-faq-trigger::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    right: 32px;
  }
  .cd-faq-trigger::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .content-visible .cd-faq-trigger::before {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .content-visible .cd-faq-trigger::after {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

.cd-faq-content p {
  font-size: 14px;
  line-height: 1.4;
  color: #6c7d8e;
}
@media only screen and (min-width: 768px) {
  .cd-faq-content {
    display: none;
    padding: 0 24px 30px;
  }
  .cd-faq-content p {
    line-height: 1.6;
  }
  .no-js .cd-faq-content {
      display: block;
  }
}

/* ===================================Custom Styles=================================================== */

.cd-faq-content .header
{
    display: inline-block;
}

.cd-faq-content .header hr
{
    color: #a9c056;
    background-color: #a9c056;
    border: 0px none;
    height: 1px;
}

.cd-faq-content .header p
{
    display: inline-block;
}

.cd-faq-content .header .name-author
{
    font-size: 18px;
    color: #a9c056;
}

.cd-faq-content .answer
{
    margin-bottom: 20px;
}

.cd-faq-content .answer hr
{
    margin-bottom: 10px;
}

.cd-faq-content hr
{
    color: #f0f0f0;
    background-color: #f0f0f0;
    border: 0px none;
    height: 1px;    
    margin: 20px 0;
}

.cd-faq-content .answer .ans
{
    font-size: 18px;
}

.cd-faq-content .reply-btn
{
    margin-top: 20px;
    width: 100px;
    height: 30px;
    text-align: center;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
    color: #fff;
    background-color: #3097D1;
    border-color: #2a88bd;
    border-radius: 4px;
}

.cd-faq-content .reply-btn:hover 
{
    background-color: #2579a9;
    border-color: #1f648b;
}

.cd-faq-content .reply-btn a
{
    display: block;
    width: 100%;
}

.cd-faq-content .reply-btn p 
{
    color: white;    
}

.forms
{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: #f3f3f5;
    margin-bottom: 20px;
    z-index: 5;
}

.forms .header 
{
    background: #a9c056;
    min-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    position: relative;
}

.forms .form-close 
{
    position: absolute;
    right: 20px;
    cursor: pointer;
}

.forms .form-close 
{
    height: 20px;
    width: 20px;
    background: url('../image/icons/close.svg') center no-repeat;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.forms .form-close:hover
{
    background: url('../image/icons/close-hover.svg') center no-repeat;
}

.forms .header h3
{
    color: white;
}

.forms textarea
{
    width: calc(100% - 40px);
    resize: none;
}

.forms input[type=submit]
{
    margin: 20px 0;
}

.cd-faq-categories
{
    padding-left: 0;
}

.cd-faq-categories-usr
{
    box-shadow: none;
    top: 0;
}

.cd-faq-categories-usr li
{
    border: 3px solid #bbbbc7;
    margin-bottom: 10px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; 
}

.cd-faq-categories-usr li:hover {
    border-color: #a9c056;
}

.cd-faq-categories-usr li a
{
    font-size: 13px;
}

.cd-faq-categories-usr li a:hover
{
    text-decoration: none;
}


.dropdown-toggle
{
    font-size: 16px;
}

.bed_reg {
    text-align: center;
}

.bed_reg img {
    height: 400px;
}

.bed_reg p 
{
    line-height: 2rem;
}

.bed_reg strong
{
    font-weight: 600;
}

.form-group input,
.form-group select,
.form-group textarea
{
    font-size: 14px;
    padding: 6px 12px;
}


.top-menu .cd-faq-categories
{
    position: relative;
    display: flex;
    margin-left: 40px;
}
.top-menu .cd-faq-categories-usr li
{
    margin-right: 20px;
}

.cd-faq-group .unvisible
{
    color: #216a94;
}

.panel-heading
{
    font-size: 16px;
}

.panel-body a
{
    display: block;
    font-size: 16px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.panel-body a:hover
{
    color: #3097D1;
    text-decoration: none;
}

.cd-faq-group li .published
{
    color: #a9c056;    
}

.cd-faq-group li .unpublished
{
    color: red;
}

.cd-faq-group li .moderate
{
    color: orange;
}

.cd-faq-content form
{
    display: flex;
    justify-content: flex-end;
}

.cd-faq-content form select
{
    font-size: 14px;
    padding-left: 5px;
    border-radius: 4px;
    margin-right: 10px;
}

.home-edit-form-btn
{
    float: right;
    margin-left: 10px;
}

.cd-faq-group-users li a
{
    display: block;
    padding: 20px 72px 20px 24px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    font-size: 24px;
    font-weight: 300;    
}

.cd-faq-group-users li a:hover
{
    text-decoration: none;
}

.panel-body .btn-primary-usr
{
    color: white;
    font-size: 14px;
    display: inline-block;
    padding-right: 15px;
}

.panel-body .btn-primary-usr:hover
{
    color: red;
}

.cd-faq-group-theme li
{
    padding-bottom: 20px;
}

.cd-faq-group-theme ul
{
    list-style: none;
}

.cd-faq-group-theme ul li
{
    font-size: 14px;
    padding-bottom: 10px;
}

.cd-faq-content .reply-btn
{
    height: 36px;
    width: 116px;
    margin-bottom: 10px;
}

.reply-btn a:hover
{
    text-decoration: none;
}
.reply-btn p
{
    margin-bottom: 0;
}

form
{
    margin-bottom: 10px;
}

.cd-faq-group li form
{
    align-items: baseline;
}

.cd-faq-group li form select
{
    min-width: 200px;
    height: 36px;
}

.cd-faq-group li form p
{
    margin: 0;
    min-width: 200px;
    text-align: right;
    margin-right: 10px;
}

.cd-faq-group .reject a
{
    color: red;
}

.cd-faq-group .moderate a
{
    color: orange;
}

.form-horizontal .form-group select
{
    width: 100%;
}

.is-fixed
{
    width: 73.5%;
}



@media only screen and (min-width: 768px) 
{
    .left-menu
    {
        width: 25%;
    }
    .top-menu .cd-faq-categories
    {
        margin-left: 0;
    }
    .cd-faq-items
    {
        width: 70%;
    }
    .cd-faq-group
    {
        padding: 0;
    }
    .cd-faq-items .top-menu .cd-faq-categories-usr li a
    {
        padding: 7px;
        font-size: 12px;
        padding-top: 0;
    }
    
    .cd-faq-group-users li a
    {
        font-size: 18px;
    }
    
    .cd-faq .menu .left-menu
    {
        display: flex;
        float: left;
        flex-direction: column;
        flex-direction: column;
        align-items: flex-start;        
    }
    .cd-faq .menu .left-menu li
    {
        width: 100%;
    }
    
    .top-menu .cd-faq-categories-usr li
    {
        margin-right: 5px;
    }   
}

@media only screen and (min-width: 1024px)
{
  .cd-faq-items {
    float: none;
    width: 100%;
    padding-left: 240px;
  }
  .no-js .cd-faq-items {
    padding-left: 0;
  }
    
    .left-menu {
        width: 20%;
    }
    
    .cd-faq-items .top-menu .cd-faq-categories-usr li a
    {
        padding-left: 24px;
        padding: 0 24px;
        font-size: 13px;
    }
    
    .top-menu .cd-faq-categories-usr li
    {
        margin-right: 20px;
    }
    
    .cd-faq-group-users li a
    {
        font-size: 24px;
    }    
}

@media only screen and (max-width: 768px)
{
    .cd-faq-user
    {
        box-shadow: none;
    }
    
    .cd-faq-user .cd-faq-categories li a::after,
    .cd-faq-user .cd-faq-categories li a::before
    {
        display: none;
    }
    
    .cd-faq-user .cd-faq-items
    {
        position: relative;
        left: 0;
        overflow: hidden;
        -webkit-transform: translate(0);
        -ms-transform: translate(0);
        -o-transform: translate(0);
        transform: translate(0); 
        width: 100%;
        padding: 0;
        padding-top: 30px;
        background: none;
    }
    
    .top-menu .cd-faq-categories
    {
        margin-left: 0;
        justify-content: space-around;
    }
    .top-menu .cd-faq-categories-usr li
    {
        margin-right: 0;
    }
    
    .cd-faq-user .cd-faq-items .top-menu .cd-faq-categories-usr
    {
        flex-direction: column;
    }
    
    .cd-faq-group-users
    {
        display: block;
        padding-left: 0;
    }
    
    .cd-faq-group-users li
    {
        background: white;
        margin-bottom: 20px;
    }
    
    .cd-faq-user .cd-faq-group
    {
        display: block;
        padding-left: 0;
    }
    
    .cd-faq-user .cd-faq-group li
    {
        background: white;
        padding: 10px 20px;
        margin-bottom: 20px;
    }
    
    .cd-faq-user .cd-faq-group li ul
    {
        padding: 10px;
    }
    
    .cd-faq-user .cd-faq-group li ul li
    {
        margin-bottom: 10px;
        padding: 0;
    }
    
    .cd-faq-user .cd-faq-group .cd-faq-title
    {
        padding: 0;
        background: none;
    }
    .cd-faq-user .cd-faq-group .cd-faq-trigger
    {
        font-size: 24px;
        margin: 10px 0;
    }
    
    .cd-faq-user .cd-faq-group .cd-faq-content .name-author
    {
        font-size: 16px;
    }
    
    .cd-faq-user .cd-faq-group form
    {
        flex-direction: column;
        align-items: initial;
        margin: 20px 0;
    }
    
    .cd-faq-user .cd-faq-group form p
    {
        font-size: 16px;
        margin-bottom: 5px;
    }
    
    .cd-faq-user .cd-faq-group form select
    {
        margin-right: 0;
        margin-bottom: 5px;
    }
    
    .cd-faq-user .cd-faq-group li a
    {
        padding: 0;
        font-size: 16px;
        overflow: hidden;
    }
    
    .cd-faq-user .menu .cd-faq-categories-usr 
    {
        display: flex;
        flex-wrap: wrap;
    }
    
    .cd-faq-user .menu .cd-faq-categories-usr li
    {
        flex-grow: 1;
        margin: 0 5px 10px 5px;
        text-align: center;
    }
    
    .cd-faq-user .menu .cd-faq-categories-usr li a
    {
        padding: 0 16px;
    }
    
}

